<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqPHSive34BfIsW7yDzCUtgLjOsM-kszU</string>
	<key>GCM_SENDER_ID</key>
	<string>1075600342317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easecorte.lionsbarberv1</string>
	<key>PROJECT_ID</key>
	<string>lionsbarber-easecorte</string>
	<key>STORAGE_BUCKET</key>
	<string>lionsbarber-easecorte.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075600342317:ios:55f6818d144a49beada7a4</string>
	<key>DATABASE_URL</key>
	<string>https://lionsbarber-easecorte-default-rtdb.firebaseio.com</string>
</dict>
</plist>